/* Icons theme and transparency */

.tweet-button, .app-search-fake, .icon, .Icon, a:-webkit-any-link, .color-twitter-blue, .facet-subtitle, .stroke-twitter-blue, html.dark .Button, html.dark .Button.is-visited, html.dark .Button:visited, html.dark button, html.dark button.is-visited, html.dark button:visited, html.dark input.is-visited[type=button], html.dark input:visited[type=button], html.dark input[type=button]{

    color:#8CC63F !important;
    background-color: transparent !important;
    border: 2px transparent !important;
    stroke: #8CC63F !important;
}

/* Icon media player */

i.icon.icon-bg-dot.icon-twitter-blue-color{
    opacity: 0.5;
    background-color: transparent !important;
    outline: none;
}