/* Roboto font  (TERMINADO)*/ 

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
.tweet-text{
    font-family: 'Roboto', 'sans-serif';
}
style{font-family: 'Roboto', 'sans-serif';}
/* message privacy (TERMINADO) */ 
.column article[data-tweet-id=""] .tweet-text {
    filter: saturate(0%) blur(15px) opacity(75%);
}

.column:hover article[data-tweet-id=""] .tweet-text {
    filter: none;
}

/*Botones Twitter Burdeos (TERMINADO)*/

.tweet-button, .app-search-fake, .icon, .Icon{

    color:#641c34 !important;
    background-color: #000000 !important;
    border: 2px #000000 !important;
    
}

/* Correcciones bordes negros (WIP) */
html.dark .video-overlay .icon, html.dark .video-overlay .Icon {
    font-size: 40px;
    opacity: 0.8;
    background-color: transparent !important;
    outline: none;
}


/*Botones interacción corregidos (WIP)*/
.tweet-actions {
    float: left;
    color:#641c34 !important;
    background-color:transparent !important;
    border: 2px transparent !important;
}

/*Follow fix border blue (TERMINADO)*/
html.dark .Button, html.dark .Button.is-visited, html.dark .Button:visited, html.dark button, html.dark button.is-visited, html.dark button:visited, html.dark input.is-visited[type=button], html.dark input:visited[type=button], html.dark input[type=button] {
    background-color: #000000 !important;
    color:#641c34 !important;
    border: 2px transparent !important;
}

/*Iconos transparentes bordes negros*/

.Icon:before, .icon:before, .icon-protected, html.dark .Icon--close:before, html.dark .icon-close:before, .Icon--close:before, i.icon.icon-close.color-twitter-white::before,.Icon:before, .icon:before, .icon-protected, html.dark .Icon--close:before, html.dark .icon-close:before, .Icon--close:before, i.icon.icon-close.color-twitter-white::before, i.icon.icon-close.color-twitter-white::before, icon txt-size--24 icon-close{
    background-color: transparent !important;
    border: 2px transparent !important;
}

/*Fix fondo negro interacciones en fotos*/
[btd-modern-overlays='true'] .js-mediatable .js-modal-panel .med-tweet .js-tweet .tweet-footer .tweet-actions{
    background-color: transparent !important;
    border: 2px transparent !important;
}

/*Test icon fix fondo negro en imagen (TERMINADO)*/

i.js-icon-download.icon.icon-download.txt-center, i.icon.icon-more.txt-right, i.js-icon-attachment.icon.icon-attachment.txt-center, i.js-icon-favorite.icon.icon-favorite.icon-favorite-toggle.txt-center.pull-left,i.js-icon-retweet.icon.icon-retweet.icon-retweet-toggle.txt-center.pull-left,i.icon.icon-reply.txt-center.pull-left, i.icon.icon-check.txt-size--12.color-twitter-white, i.icon.icon-earth, i.Icon.icon-compose, i.color-twitter-white.icon.icon-compose-grid, i.js-compose-close.is-actionable.icon.icon-close.margin-v--20.pull-right, i.icon.txt-size--24.icon-close, i.color-twitter-white.icon.icon-compose-minigrid, i.color-twitter-white.icon.icon-compose-list, i.icon.icon-check.txt-size--12, i.icon.icon-search.txt-size--16{
    background-color: transparent !important;
}

/*Circulo caracteres tweet (Terminado)*/
.stroke-twitter-blue, html.dark .stroke-twitter-blue{
    stroke: #641c34;
}

/* Ajustes busqueda avanzada tweekdeck */
html.dark .facet-subtitle{
    color: #641c34;
}
/*Replies burdeos*/
html.dark .other-replies-link{
    color: #641c34;
}

/*links burdeos*/
html.dark a.url-ext{
    color: #641c34;
}

/*Mostrar hilo burdeos*/
html.dark .color-twitter-blue{
    color: #641c34;
}

/*Perfiles*/
html.dark a{
    color: #641c34;
}

/*Hover burdeos en links*/

a:-webkit-any-link {
    color: #641c34;
}


/*Icono mensajes todos burdeos*/

block column-type-icon icon color-twitter-blue icon-message{
    color: #641c34;
}